In [255]:
import pandas as pd

In [256]:
matches = pd.read_csv("matches.csv" , index_col = 0)

In [257]:
matches.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
1,8/11/2023,20:00,Premier League,Matchweek 1,Fri,Away,W,3,0,Burnley,...,Match Report,NaN,17,8,13.9,0,0,0,2022,Manchester City
3,8/19/2023,20:00,Premier League,Matchweek 2,Sat,Home,W,1,0,Newcastle Utd,...,Match Report,NaN,14,4,17.9,0,0,0,2022,Manchester City
4,8/27/2023,14:00,Premier League,Matchweek 3,Sun,Away,W,2,1,Sheffield Utd,...,Match Report,NaN,29,9,17.3,2,0,1,2022,Manchester City
5,9/2/2023,15:00,Premier League,Matchweek 4,Sat,Home,W,5,1,Fulham,...,Match Report,NaN,6,4,14.8,0,1,1,2022,Manchester City
6,9/16/2023,15:00,Premier League,Matchweek 5,Sat,Away,W,3,1,West Ham,...,Match Report,NaN,29,13,16.4,1,0,0,2022,Manchester City

In [258]:
matches.shape

(1500, 27)

In [259]:
matches["team"].value_counts()

Manchester City             75
Brighton and Hove Albion    75
Nottingham Forest           75
Brentford                   75
Everton                     75
Fulham                      75
Wolverhampton Wanderers     75
Arsenal                     75
Bournemouth                 75
Crystal Palace              75
West Ham United             75
Manchester United           75
Newcastle United            75
Chelsea                     75
Tottenham Hotspur           75
Aston Villa                 75
Liverpool                   75
Leicester City              38
Leeds United                38
Southampton                 38
Luton Town                  37
Burnley                     37
Sheffield United            37
Name: team, dtype: int64

In [260]:
matches[matches["team"] == "Liverpool"]

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,8/13/2023,16:30,Premier League,Matchweek 1,Sun,Away,D,1,1,Chelsea,...,Match Report,NaN,13,1,17.8,0,0,0,2022,Liverpool
1,8/19/2023,15:00,Premier League,Matchweek 2,Sat,Home,W,3,1,Bournemouth,...,Match Report,NaN,25,9,16.8,1,0,1,2022,Liverpool
2,8/27/2023,16:30,Premier League,Matchweek 3,Sun,Away,W,2,1,Newcastle Utd,...,Match Report,NaN,9,4,17.2,1,0,0,2022,Liverpool
3,9/3/2023,14:00,Premier League,Matchweek 4,Sun,Home,W,3,0,Aston Villa,...,Match Report,NaN,17,4,14.7,0,0,0,2022,Liverpool
4,9/16/2023,12:30,Premier League,Matchweek 5,Sat,Away,W,3,1,Wolves,...,Match Report,NaN,16,5,15.8,0,0,0,2022,Liverpool
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47,5/3/2023,20:00,Premier League,Matchweek 28,Wed,Home,W,1,0,Fulham,...,Match Report,NaN,14,2,22.6,0,1,1,2021,Liverpool
48,5/6/2023,17:30,Premier League,Matchweek 35,Sat,Home,W,1,0,Brentford,...,Match Report,NaN,15,5,18.8,0,0,0,2021,Liverpool
49,5/15/2023,20:00,Premier League,Matchweek 36,Mon,Away,W,3,0,Leicester City,...,Match Report,NaN,16,5,17.5,1,0,0,2021,Liverpool
50,5/20/2023,15:00,Premier League,Matchweek 37,Sat,Home,D,1,1,Aston Villa,...,Match Report,NaN,10,5,18.2,0,0,0,2021,Liverpool
51,5/28/2023,16:30,Premier League,Matchweek 38,Sun,Away,D,4,4,Southampton,...,Match Report,NaN,30,8,18.5,0,0,0,2021,Liverpool

In [261]:
matches["round"].value_counts()

Matchweek 1     40
Matchweek 30    40
Matchweek 23    40
Matchweek 24    40
Matchweek 25    40
Matchweek 18    40
Matchweek 26    40
Matchweek 27    40
Matchweek 28    40
Matchweek 31    40
Matchweek 2     40
Matchweek 32    40
Matchweek 33    40
Matchweek 29    40
Matchweek 35    40
Matchweek 36    40
Matchweek 37    40
Matchweek 34    40
Matchweek 22    40
Matchweek 21    40
Matchweek 20    40
Matchweek 19    40
Matchweek 3     40
Matchweek 4     40
Matchweek 5     40
Matchweek 6     40
Matchweek 7     40
Matchweek 8     40
Matchweek 9     40
Matchweek 10    40
Matchweek 11    40
Matchweek 12    40
Matchweek 13    40
Matchweek 14    40
Matchweek 15    40
Matchweek 16    40
Matchweek 17    40
Matchweek 38    20
Name: round, dtype: int64

In [262]:
matches.dtypes

date             object
time             object
comp             object
round            object
day              object
venue            object
result           object
gf                int64
ga                int64
opponent         object
xg              float64
xga             float64
poss              int64
attendance      float64
captain          object
formation        object
referee          object
match report     object
notes           float64
sh                int64
sot               int64
dist            float64
fk                int64
pk                int64
pkatt             int64
season            int64
team             object
dtype: object

In [263]:
matches["date"] = pd.to_datetime(matches["date"])

In [264]:
matches.dtypes

date            datetime64[ns]
time                    object
comp                    object
round                   object
day                     object
venue                   object
result                  object
gf                       int64
ga                       int64
opponent                object
xg                     float64
xga                    float64
poss                     int64
attendance             float64
captain                 object
formation               object
referee                 object
match report            object
notes                  float64
sh                       int64
sot                      int64
dist                   float64
fk                       int64
pk                       int64
pkatt                    int64
season                   int64
team                    object
dtype: object

In [265]:
matches["venue_code"] = matches["venue"].astype("category").cat.codes

In [266]:
matches["opp_code"] = matches["opponent"].astype("category").cat.codes

In [267]:
matches["hour"] = matches["time"].str.replace(":.+","",regex=True).astype("int")

In [268]:
matches["day_code"] = matches["date"].dt.dayofweek

In [269]:
matches["target"] = (matches["result"] == "W").astype("int")

In [270]:
from sklearn.ensemble import RandomForestClassifier

In [271]:
rf = RandomForestClassifier(n_estimators = 50, min_samples_split = 10, random_state = 1)

In [272]:
train = matches[matches["date"] < '2023-01-01']

In [273]:
test = matches[matches["date"] > '2023-01-01']

In [274]:
predictors = ["venue_code" , "opp_code" , "hour" , "day_code"]

In [275]:
rf.fit(train[predictors] , train["target"])

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)

In [276]:
preds = rf.predict(test[predictors])

In [277]:
from sklearn.metrics import accuracy_score

In [278]:
acc = accuracy_score(test["target"] , preds)

In [279]:
acc

0.6138698630136986

In [280]:
combined = pd.DataFrame(dict(actual = test["target"] , prediction=preds))

In [281]:
pd.crosstab(index = combined["actual"] , columns = combined["prediction"])

prediction    0    1
actual
0           569  146
1           305  148

In [282]:
from sklearn.metrics import precision_score

In [283]:
precision_score(test["target"] , preds)

0.5034013605442177

In [284]:
grouped_matches = matches.groupby("team")

In [285]:
group = grouped_matches.get_group("Manchester City")

In [286]:
group

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,fk,pk,pkatt,season,team,venue_code,opp_code,hour,day_code,target
1,2023-08-11,20:00,Premier League,Matchweek 1,Fri,Away,W,3,0,Burnley,...,0,0,0,2022,Manchester City,0,5,20,4,1
3,2023-08-19,20:00,Premier League,Matchweek 2,Sat,Home,W,1,0,Newcastle Utd,...,0,0,0,2022,Manchester City,1,16,20,5,1
4,2023-08-27,14:00,Premier League,Matchweek 3,Sun,Away,W,2,1,Sheffield Utd,...,2,0,1,2022,Manchester City,0,18,14,6,1
5,2023-09-02,15:00,Premier League,Matchweek 4,Sat,Home,W,5,1,Fulham,...,0,1,1,2022,Manchester City,1,9,15,5,1
6,2023-09-16,15:00,Premier League,Matchweek 5,Sat,Away,W,3,1,West Ham,...,1,0,0,2022,Manchester City,0,21,15,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,2023-05-06,15:00,Premier League,Matchweek 35,Sat,Home,W,2,1,Leeds United,...,2,0,1,2021,Manchester City,1,10,15,5,1
54,2023-05-14,14:00,Premier League,Matchweek 36,Sun,Away,W,3,0,Everton,...,2,0,0,2021,Manchester City,0,8,14,6,1
56,2023-05-21,16:00,Premier League,Matchweek 37,Sun,Home,W,1,0,Chelsea,...,0,0,0,2021,Manchester City,1,6,16,6,1
57,2023-05-24,20:00,Premier League,Matchweek 32,Wed,Away,D,1,1,Brighton,...,0,0,0,2021,Manchester City,0,4,20,2,0
58,2023-05-28,16:30,Premier League,Matchweek 38,Sun,Away,L,0,1,Brentford,...,0,0,0,2021,Manchester City,0,3,16,6,0

In [287]:
def rolling_averages(group , cols, new_cols):
    group = group.sort_values("date")
    rolling_stats = group[cols].rolling(3 , closed = 'left').mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset = new_cols)
    return group

In [288]:
cols = ["gf" , "ga" , "sh" , "sot" , "dist" , "fk" , "pk" , "pkatt"]
new_cols = [f"{c}_rolling" for c in cols]

In [289]:
new_cols

['gf_rolling',
 'ga_rolling',
 'sh_rolling',
 'sot_rolling',
 'dist_rolling',
 'fk_rolling',
 'pk_rolling',
 'pkatt_rolling']

In [290]:
rolling_averages(group, cols , new_cols)

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,day_code,target,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
4,2022-08-27,15:00,Premier League,Matchweek 4,Sat,Home,W,4,2,Crystal Palace,...,5,1,3.000000,1.000000,17.666667,6.000000,17.466667,0.666667,0.333333,0.333333
5,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,6,0,Nott'ham Forest,...,2,1,3.666667,1.666667,19.333333,7.333333,15.933333,0.333333,0.000000,0.000000
6,2022-09-03,17:30,Premier League,Matchweek 6,Sat,Away,D,1,1,Aston Villa,...,5,0,4.333333,1.666667,18.666667,8.000000,15.033333,0.333333,0.000000,0.000000
9,2022-09-17,12:30,Premier League,Matchweek 8,Sat,Away,W,3,0,Wolves,...,5,1,3.666667,1.000000,16.000000,6.000000,15.233333,0.333333,0.000000,0.000000
10,2022-10-02,14:00,Premier League,Matchweek 9,Sun,Home,W,6,3,Manchester Utd,...,6,1,3.333333,0.333333,15.333333,6.666667,17.000000,0.333333,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,2024-04-25,20:00,Premier League,Matchweek 29,Thu,Away,W,4,0,Brighton,...,3,1,4.333333,1.333333,26.333333,10.333333,16.300000,0.666667,0.333333,0.333333
51,2024-04-28,16:30,Premier League,Matchweek 35,Sun,Away,W,2,0,Nott'ham Forest,...,6,1,4.333333,1.000000,22.666667,8.666667,16.666667,0.333333,0.333333,0.333333
52,2024-05-04,17:30,Premier League,Matchweek 36,Sat,Home,W,5,1,Wolves,...,5,1,3.666667,0.333333,20.333333,7.666667,17.533333,0.666667,0.333333,0.333333
53,2024-05-11,12:30,Premier League,Matchweek 37,Sat,Away,W,4,0,Fulham,...,5,1,3.666667,0.333333,14.333333,7.000000,17.000000,0.666667,0.666667,0.666667
54,2024-05-14,20:00,Premier League,Matchweek 34,Tue,Away,W,2,0,Tottenham,...,1,1,3.666667,0.333333,14.666667,7.666667,17.200000,0.333333,1.000000,1.000000

In [291]:
matches_rolling = matches.groupby("team").apply(lambda x : rolling_averages(x, cols, new_cols))

In [292]:
matches_rolling

                                 date   time            comp         round  \
team
Arsenal                 3  2022-08-27  17:30  Premier League   Matchweek 4
                        4  2022-08-31  19:30  Premier League   Matchweek 5
                        5  2022-09-04  16:30  Premier League   Matchweek 6
                        7  2022-09-18  12:00  Premier League   Matchweek 8
                        8  2022-10-01  12:30  Premier League   Matchweek 9
...                               ...    ...             ...           ...
Wolverhampton Wanderers 39 2024-04-20  19:30  Premier League  Matchweek 34
                        40 2024-04-24  19:45  Premier League  Matchweek 29
                        41 2024-04-27  15:00  Premier League  Matchweek 35
                        42 2024-05-04  17:30  Premier League  Matchweek 36
                        43 2024-05-11  15:00  Premier League  Matchweek 37

                            day venue result  gf  ga         opponent  ...  \
team                                                                   ...
Arsenal                 3   Sat  Home      W   2   1           Fulham  ...
                        4   Wed  Home      W   2   1      Aston Villa  ...
                        5   Sun  Away      L   1   3   Manchester Utd  ...
                        7   Sun  Away      W   3   0        Brentford  ...
                        8   Sat  Home      W   3   1        Tottenham  ...
...                         ...   ...    ...  ..  ..              ...  ...
Wolverhampton Wanderers 39  Sat  Home      L   0   2          Arsenal  ...
                        40  Wed  Home      L   0   1      Bournemouth  ...
                        41  Sat  Home      W   2   1       Luton Town  ...
                        42  Sat  Away      L   1   5  Manchester City  ...
                        43  Sat  Home      L   1   3   Crystal Palace  ...

                            day_code  target  gf_rolling  ga_rolling  \
team
Arsenal                 3          5       1    3.000000    0.666667
                        4          2       1    3.000000    1.000000
                        5          6       0    2.333333    0.666667
                        7          6       1    1.666667    1.666667
                        8          5       1    2.000000    1.333333
...                              ...     ...         ...         ...
Wolverhampton Wanderers 39         5       0    1.333333    1.666667
                        40         2       0    1.000000    2.000000
                        41         5       1    0.666667    1.666667
                        42         5       0    0.666667    1.333333
                        43         5       0    1.000000    2.333333

                           sh_rolling sot_rolling dist_rolling fk_rolling  \
team
Arsenal                 3   14.333333    5.000000    14.133333   0.333333
                        4   18.333333    7.000000    14.433333   0.333333
                        5   19.333333    7.333333    15.533333   0.666667
                        7   20.000000    6.333333    16.800000   1.000000
                        8   17.000000    6.000000    17.700000   0.666667
...                               ...         ...          ...        ...
Wolverhampton Wanderers 39  10.666667    3.666667    17.966667   0.333333
                        40   9.666667    4.000000    20.533333   0.333333
                        41  10.333333    3.333333    18.766667   0.000000
                        42  11.000000    4.000000    19.666667   0.000000
                        43  10.000000    3.333333    15.966667   0.000000

                            pk_rolling  pkatt_rolling
team
Arsenal                 3     0.000000       0.000000
                        4     0.000000       0.000000
                        5     0.000000       0.000000
                        7     0.000000       0.000000
                        8     0.000000       0.000000
...                                ...            ...
Wolverhampton Wanderers 39    0.333333       0.333333
                        40    0.333333       0.333333
                        41    0.000000       0.000000
                        42    0.000000       0.000000
                        43    0.000000       0.000000

[1431 rows x 40 columns]

In [293]:
matches_rolling = matches_rolling.droplevel("team")

In [294]:
matches_rolling

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,day_code,target,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
3,2022-08-27,17:30,Premier League,Matchweek 4,Sat,Home,W,2,1,Fulham,...,5,1,3.000000,0.666667,14.333333,5.000000,14.133333,0.333333,0.000000,0.000000
4,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,2,1,Aston Villa,...,2,1,3.000000,1.000000,18.333333,7.000000,14.433333,0.333333,0.000000,0.000000
5,2022-09-04,16:30,Premier League,Matchweek 6,Sun,Away,L,1,3,Manchester Utd,...,6,0,2.333333,0.666667,19.333333,7.333333,15.533333,0.666667,0.000000,0.000000
7,2022-09-18,12:00,Premier League,Matchweek 8,Sun,Away,W,3,0,Brentford,...,6,1,1.666667,1.666667,20.000000,6.333333,16.800000,1.000000,0.000000,0.000000
8,2022-10-01,12:30,Premier League,Matchweek 9,Sat,Home,W,3,1,Tottenham,...,5,1,2.000000,1.333333,17.000000,6.000000,17.700000,0.666667,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39,2024-04-20,19:30,Premier League,Matchweek 34,Sat,Home,L,0,2,Arsenal,...,5,0,1.333333,1.666667,10.666667,3.666667,17.966667,0.333333,0.333333,0.333333
40,2024-04-24,19:45,Premier League,Matchweek 29,Wed,Home,L,0,1,Bournemouth,...,2,0,1.000000,2.000000,9.666667,4.000000,20.533333,0.333333,0.333333,0.333333
41,2024-04-27,15:00,Premier League,Matchweek 35,Sat,Home,W,2,1,Luton Town,...,5,1,0.666667,1.666667,10.333333,3.333333,18.766667,0.000000,0.000000,0.000000
42,2024-05-04,17:30,Premier League,Matchweek 36,Sat,Away,L,1,5,Manchester City,...,5,0,0.666667,1.333333,11.000000,4.000000,19.666667,0.000000,0.000000,0.000000
43,2024-05-11,15:00,Premier League,Matchweek 37,Sat,Home,L,1,3,Crystal Palace,...,5,0,1.000000,2.333333,10.000000,3.333333,15.966667,0.000000,0.000000,0.000000

In [295]:
matches_rolling.index = range(matches_rolling.shape[0])

In [296]:
matches_rolling

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,day_code,target,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
0,2022-08-27,17:30,Premier League,Matchweek 4,Sat,Home,W,2,1,Fulham,...,5,1,3.000000,0.666667,14.333333,5.000000,14.133333,0.333333,0.000000,0.000000
1,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,2,1,Aston Villa,...,2,1,3.000000,1.000000,18.333333,7.000000,14.433333,0.333333,0.000000,0.000000
2,2022-09-04,16:30,Premier League,Matchweek 6,Sun,Away,L,1,3,Manchester Utd,...,6,0,2.333333,0.666667,19.333333,7.333333,15.533333,0.666667,0.000000,0.000000
3,2022-09-18,12:00,Premier League,Matchweek 8,Sun,Away,W,3,0,Brentford,...,6,1,1.666667,1.666667,20.000000,6.333333,16.800000,1.000000,0.000000,0.000000
4,2022-10-01,12:30,Premier League,Matchweek 9,Sat,Home,W,3,1,Tottenham,...,5,1,2.000000,1.333333,17.000000,6.000000,17.700000,0.666667,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1426,2024-04-20,19:30,Premier League,Matchweek 34,Sat,Home,L,0,2,Arsenal,...,5,0,1.333333,1.666667,10.666667,3.666667,17.966667,0.333333,0.333333,0.333333
1427,2024-04-24,19:45,Premier League,Matchweek 29,Wed,Home,L,0,1,Bournemouth,...,2,0,1.000000,2.000000,9.666667,4.000000,20.533333,0.333333,0.333333,0.333333
1428,2024-04-27,15:00,Premier League,Matchweek 35,Sat,Home,W,2,1,Luton Town,...,5,1,0.666667,1.666667,10.333333,3.333333,18.766667,0.000000,0.000000,0.000000
1429,2024-05-04,17:30,Premier League,Matchweek 36,Sat,Away,L,1,5,Manchester City,...,5,0,0.666667,1.333333,11.000000,4.000000,19.666667,0.000000,0.000000,0.000000
1430,2024-05-11,15:00,Premier League,Matchweek 37,Sat,Home,L,1,3,Crystal Palace,...,5,0,1.000000,2.333333,10.000000,3.333333,15.966667,0.000000,0.000000,0.000000

In [299]:
def make_predictions(data, predictors):
    train = data[data["date"] < '2023-01-01']
    test = data[data["date"] > '2023-01-01']
    rf.fit(train[predictors] , train["target"])
    preds = rf.predict(test[predictors])
    combined = pd.DataFrame(dict(actual = test["target"] , predicted = preds) , index = test.index)
    precision = precision_score(test["target"] , preds)
    return combined, precision

In [300]:
combined , precision = make_predictions(matches_rolling , predictors + new_cols)

In [301]:
precision

0.5205047318611987

In [302]:
combined

      actual  predicted
13         0          1
14         1          1
15         1          1
16         0          0
17         0          1
...      ...        ...
1426       0          0
1427       0          0
1428       1          0
1429       0          0
1430       0          0

[1159 rows x 2 columns]

In [303]:
combined = combined.merge(matches_rolling[["date", "team", "opponent", "result"]], left_index= True, right_index = True)

In [304]:
combined

,actual,predicted,date,team,opponent,result
13,0,1,2023-01-03,Arsenal,Newcastle Utd,D
14,1,1,2023-01-15,Arsenal,Tottenham,W
15,1,1,2023-01-22,Arsenal,Manchester Utd,W
16,0,0,2023-02-04,Arsenal,Everton,L
17,0,1,2023-02-11,Arsenal,Brentford,D
...,...,...,...,...,...,...
1426,0,0,2024-04-20,Wolverhampton Wanderers,Arsenal,L
1427,0,0,2024-04-24,Wolverhampton Wanderers,Bournemouth,L
1428,1,0,2024-04-27,Wolverhampton Wanderers,Luton Town,W
1429,0,0,2024-05-04,Wolverhampton Wanderers,Manchester City,L
1430,0,0,2024-05-11,Wolverhampton Wanderers,Crystal Palace,L

In [309]:
class MissingDict(dict):
    __missing__ = lambda self ,key : key

map_values = {
    "Brighton and Hove Albion": "Brighton",
    "Manchester United": "Manchester Utd",
    "Newcastle United": "Newcastle Utd",
    "Tottenham Hotspur": "Tottenham",
    "West Ham United": "West Ham",
    "Wolverhampton Wanderers": "Wolves",
    "Nottingham Forest":"Nott'ham Forest",
    "Sheffield United" : "Sheffield Utd",
}    
mapping = MissingDict(**map_values)

In [310]:
mapping["West Ham United"]

'West Ham'

In [311]:
combined["new_team"] = combined["team"].map(mapping)

In [312]:
combined

,actual,predicted,date,team,opponent,result,new_team
13,0,1,2023-01-03,Arsenal,Newcastle Utd,D,Arsenal
14,1,1,2023-01-15,Arsenal,Tottenham,W,Arsenal
15,1,1,2023-01-22,Arsenal,Manchester Utd,W,Arsenal
16,0,0,2023-02-04,Arsenal,Everton,L,Arsenal
17,0,1,2023-02-11,Arsenal,Brentford,D,Arsenal
...,...,...,...,...,...,...,...
1426,0,0,2024-04-20,Wolverhampton Wanderers,Arsenal,L,Wolves
1427,0,0,2024-04-24,Wolverhampton Wanderers,Bournemouth,L,Wolves
1428,1,0,2024-04-27,Wolverhampton Wanderers,Luton Town,W,Wolves
1429,0,0,2024-05-04,Wolverhampton Wanderers,Manchester City,L,Wolves
1430,0,0,2024-05-11,Wolverhampton Wanderers,Crystal Palace,L,Wolves

In [313]:
merged = combined.merge(combined, left_on=["date", "new_team"], right_on=["date", "opponent"])

In [314]:
merged

,actual_x,predicted_x,date,team_x,opponent_x,result_x,new_team_x,actual_y,predicted_y,team_y,opponent_y,result_y,new_team_y
0,0,1,2023-01-03,Arsenal,Newcastle Utd,D,Arsenal,0,0,Newcastle United,Arsenal,D,Newcastle Utd
1,1,1,2023-01-15,Arsenal,Tottenham,W,Arsenal,0,0,Tottenham Hotspur,Arsenal,L,Tottenham
2,1,1,2023-01-22,Arsenal,Manchester Utd,W,Arsenal,0,0,Manchester United,Arsenal,L,Manchester Utd
3,0,0,2023-02-04,Arsenal,Everton,L,Arsenal,1,0,Everton,Arsenal,W,Everton
4,0,1,2023-02-11,Arsenal,Brentford,D,Arsenal,0,0,Brentford,Arsenal,D,Brentford
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1145,0,0,2024-04-20,Wolverhampton Wanderers,Arsenal,L,Wolves,1,1,Arsenal,Wolves,W,Arsenal
1146,0,0,2024-04-24,Wolverhampton Wanderers,Bournemouth,L,Wolves,1,0,Bournemouth,Wolves,W,Bournemouth
1147,1,0,2024-04-27,Wolverhampton Wanderers,Luton Town,W,Wolves,0,0,Luton Town,Wolves,L,Luton Town
1148,0,0,2024-05-04,Wolverhampton Wanderers,Manchester City,L,Wolves,1,1,Manchester City,Wolves,W,Manchester City
1149,0,0,2024-05-11,Wolverhampton Wanderers,Crystal Palace,L,Wolves,1,1,Crystal Palace,Wolves,W,Crystal Palace

In [315]:
merged[(merged["predicted_x"] == 1) & (merged["predicted_y"] ==0)]["actual_x"].value_counts()

1    137
0    114
Name: actual_x, dtype: int64

In [176]:
import requests

In [155]:
standings_url = "https://fbref.com/en/comps/9/Premier-League-Stats"

In [156]:
data = requests.get(standings_url)

In [157]:
from bs4 import BeautifulSoup

In [158]:
soup = BeautifulSoup(data.text)
standings_table = soup.select('table.stats_table')[0]
links = standings_table.find_all('a')
links = [l.get("href") for l in links]
links = [l for l in links if '/squads/' in l]

In [159]:
team_urls = [f"https://fbref.com{l}" for l in links]

In [160]:
data = requests.get(team_urls[0])

In [161]:
import pandas as pd
matches = pd.read_html(data.text, match="Scores & Fixtures")[0]

In [162]:
soup = BeautifulSoup(data.text)
links = soup.find_all('a')
links = [l.get("href") for l in links]
links = [l for l in links if l and 'all_comps/shooting/' in l]

In [163]:
data = requests.get(f"https://fbref.com{links[0]}")

In [164]:
shooting = pd.read_html(data.text, match="Shooting")[0]

In [165]:
shooting.head()

  For Manchester City                                                     \
                 Date   Time              Comp                Round  Day
0          2023-08-06  16:00  Community Shield  FA Community Shield  Sun
1          2023-08-11  20:00    Premier League          Matchweek 1  Fri
2          2023-08-16  22:00         Super Cup       UEFA Super Cup  Wed
3          2023-08-19  20:00    Premier League          Matchweek 2  Sat
4          2023-08-27  14:00    Premier League          Matchweek 3  Sun

                                                ... Standard                \
     Venue Result     GF     GA       Opponent  ...     Dist   FK PK PKatt
0  Neutral      D  1 (1)  1 (4)        Arsenal  ...      NaN  NaN  0     0
1     Away      W      3      0        Burnley  ...     13.9  0.0  0     0
2     Home      D  1 (5)  1 (4)     es Sevilla  ...      NaN  NaN  0     0
3     Home      W      1      0  Newcastle Utd  ...     17.9  0.0  0     0
4     Away      W      2      1  Sheffield Utd  ...     17.3  2.0  0     1

  Expected                           Unnamed: 25_level_0
        xG npxG npxG/Sh G-xG np:G-xG        Match Report
0      NaN  NaN     NaN  NaN     NaN        Match Report
1      1.9  1.9    0.12  1.1     1.1        Match Report
2      NaN  NaN     NaN  NaN     NaN        Match Report
3      1.0  1.0    0.07  0.0     0.0        Match Report
4      3.5  2.8    0.10 -1.5    -0.8        Match Report

[5 rows x 26 columns]

In [166]:
shooting.columns = shooting.columns.droplevel()

In [167]:
team_data = matches.merge(shooting[["Date", "Sh", "SoT", "Dist", "FK", "PK", "PKatt"]], on="Date")
team_data.head()

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,...,Formation,Referee,Match Report,Notes,Sh,SoT,Dist,FK,PK,PKatt
0,2023-08-06,16:00,Community Shield,FA Community Shield,Sun,Neutral,D,1 (1),1 (4),Arsenal,...,4-2-3-1,Stuart Attwell,Match Report,Arsenal won on penalty kicks following normal ...,8,4,NaN,NaN,0,0
1,2023-08-11,20:00,Premier League,Matchweek 1,Fri,Away,W,3,0,Burnley,...,4-2-3-1,Craig Pawson,Match Report,NaN,17,8,13.9,0.0,0,0
2,2023-08-16,22:00,Super Cup,UEFA Super Cup,Wed,Home,D,1 (5),1 (4),es Sevilla,...,4-2-3-1,François Letexier,Match Report,NaN,23,7,NaN,NaN,0,0
3,2023-08-19,20:00,Premier League,Matchweek 2,Sat,Home,W,1,0,Newcastle Utd,...,4-2-3-1,Robert Jones,Match Report,NaN,14,4,17.9,0.0,0,0
4,2023-08-27,14:00,Premier League,Matchweek 3,Sun,Away,W,2,1,Sheffield Utd,...,4-2-3-1,Jarred Gillett,Match Report,NaN,29,9,17.3,2.0,0,1

In [168]:
years = list(range(2022, 2020, -1))
all_matches = []

In [169]:
standings_url = "https://fbref.com/en/comps/9/Premier-League-Stats"

In [170]:
import time
for year in years:
    data = requests.get(standings_url)
    soup = BeautifulSoup(data.text)
    standings_table = soup.select('table.stats_table')[0]

    links = [l.get("href") for l in standings_table.find_all('a')]
    links = [l for l in links if '/squads/' in l]
    team_urls = [f"https://fbref.com{l}" for l in links]
    
    previous_season = soup.select("a.prev")[0].get("href")
    standings_url = f"https://fbref.com{previous_season}"
    
    for team_url in team_urls:
        team_name = team_url.split("/")[-1].replace("-Stats", "").replace("-", " ")
        data = requests.get(team_url)
        matches = pd.read_html(data.text, match="Scores & Fixtures")[0]
        soup = BeautifulSoup(data.text)
        links = [l.get("href") for l in soup.find_all('a')]
        links = [l for l in links if l and 'all_comps/shooting/' in l]
        data = requests.get(f"https://fbref.com{links[0]}")
        shooting = pd.read_html(data.text, match="Shooting")[0]
        shooting.columns = shooting.columns.droplevel()
        try:
            team_data = matches.merge(shooting[["Date", "Sh", "SoT", "Dist", "FK", "PK", "PKatt"]], on="Date")
        except ValueError:
            continue
        team_data = team_data[team_data["Comp"] == "Premier League"]
        
        team_data["Season"] = year
        team_data["Team"] = team_name
        all_matches.append(team_data)
        time.sleep(1)

In [171]:
len(all_matches)

40

In [172]:
match_df = pd.concat(all_matches)

In [173]:
match_df.columns = [c.lower() for c in match_df.columns]

In [174]:
match_df

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
1,2023-08-11,20:00,Premier League,Matchweek 1,Fri,Away,W,3,0,Burnley,...,Match Report,NaN,17.0,8.0,13.9,0.0,0,0,2022,Manchester City
3,2023-08-19,20:00,Premier League,Matchweek 2,Sat,Home,W,1,0,Newcastle Utd,...,Match Report,NaN,14.0,4.0,17.9,0.0,0,0,2022,Manchester City
4,2023-08-27,14:00,Premier League,Matchweek 3,Sun,Away,W,2,1,Sheffield Utd,...,Match Report,NaN,29.0,9.0,17.3,2.0,0,1,2022,Manchester City
5,2023-09-02,15:00,Premier League,Matchweek 4,Sat,Home,W,5,1,Fulham,...,Match Report,NaN,6.0,4.0,14.8,0.0,1,1,2022,Manchester City
6,2023-09-16,15:00,Premier League,Matchweek 5,Sat,Away,W,3,1,West Ham,...,Match Report,NaN,29.0,13.0,16.4,1.0,0,0,2022,Manchester City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,2023-04-30,14:00,Premier League,Matchweek 34,Sun,Away,L,1,3,Newcastle Utd,...,Match Report,NaN,4.0,3.0,17.3,0.0,0,0,2021,Southampton
43,2023-05-08,20:00,Premier League,Matchweek 35,Mon,Away,L,3,4,Nott'ham Forest,...,Match Report,NaN,18.0,4.0,14.0,0.0,1,1,2021,Southampton
44,2023-05-13,15:00,Premier League,Matchweek 36,Sat,Home,L,0,2,Fulham,...,Match Report,NaN,5.0,1.0,24.2,0.0,0,0,2021,Southampton
45,2023-05-21,14:00,Premier League,Matchweek 37,Sun,Away,L,1,3,Brighton,...,Match Report,NaN,5.0,1.0,13.8,1.0,0,0,2021,Southampton
46,2023-05-28,16:30,Premier League,Matchweek 38,Sun,Home,D,4,4,Liverpool,...,Match Report,NaN,15.0,10.0,17.5,1.0,0,0,2021,Southampton

In [175]:
match_df.to_csv("matches.csv")